@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
  background-color: lightgrey;
  font-family: Raleway, sans-serif;
}

.header {
  position: relative;
  text-align: center;
  margin: 8px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 3vmax;
}

.btn {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-family: Raleway, sans-serif;
  font-size: 16px;
}
